// colors
$white: #fff;
$black: #000;
$grey: #b1b4b6;

$blue: #007aff;
$red: #f00;

// font sizes
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;

// border radius
$border-radius-default: 4px;

// spacing
$spacing-y: 2.5rem;

// Breakpoints
$breakpoint-md: 768px;
